# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Node specific folders
node_modules
.node_modules

# Privacy concerns 
config/config.json
.env
./.env
