doctype html
html
  head
    title= 'ZHIL Faker'
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
body
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand navbar-light bg-light" href="#") ZHIL Source
    div(class="navbar-nav")
      a(class="nav-item nav-link active" href="/items") Items
      a(class="nav-item nav-link" href="/orders") Orders
  block content
